@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 217, 205, 184;
    --background-end-rgb: 60, 90, 169;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  display: relative;
  background-image: url(/bg-wide.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  position: absolute;
  top: 2rem;
  backdrop-filter: blur(5px);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition-duration: 400ms;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.dropdown-content a {
  text-shadow: 0.5px 0.5px 0.5px #000;
  font-size: small;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ccc;  transition-duration: 300ms;}

.dropdown:hover .dropdown-content {  
  visibility: visible;
  opacity: 1;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.text-border {
  text-shadow: 1px 1px 1px #404040;  
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

/* .vid {
  padding-bottom: 100% !important;
} */

.iframe {
  caret-color: transparent;
}

.blurry {
  backdrop-filter: blur(5px);
}

.book-shadow {
  text-shadow: 4px 2px 0 #00c8d6;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}

#floater {
  opacity: 1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#floater.fade-out {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  #contrast {
    scroll-margin-top: 2rem;
   }
  }

  .bubble {
    position: absolute;
    bottom: -50px;
    width: 20px;
    height: 20px;
    background-color: rgba(135, 206, 250, 0.8); /* light blue color */
    border-radius: 50%;
    opacity: 0;
    transform: translateY(0);
    animation-name: rise;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  .bubble.visible {
    opacity: 1;
  }
  
  @keyframes rise {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100vh);
      opacity: 0;
    }
  }

  /* styles/globals.css or Bubble.module.css */

.bubbles-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Prevent bubbles from blocking clicks */
  overflow: hidden;
  z-index: 1000;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
